<a class="btn btn-success float-right" (click) = ontoggleDisplay()>
  <i class="fa fa-upload"> </i>
  </a>

<div class="py-4" *ngIf = "!isShow">
    <form method="post" >

        <div class="form-group files">
          <input type="file" class="form-control" multiple (change)="selectFiles($event)" >
        </div>


    </form>
</div>

<div class="row">



  <div class="col-12 wrap">
    <div *ngFor="let file of files" class="folder mb-2">
      <i class="fa fa-file size text-primary"></i>
      <span><p style="font-size: 10px;">{{ file.name }} </p></span>

    </div>


</div>



