<div class="row">
    <div class="col-12 wrap">
    

        <div class="folder">
            <i class="fa fa-folder-open size text-primary"></i>
            <a href="#">Folder</a>
        </div>
        <div class="folder">
            <i class="fa fa-folder-open size text-primary"></i>
            <a href="#">Folder</a>
        </div>
        <div class="folder">
            <i class="fa fa-folder-open size text-primary"></i>
            <a href="#">Folder</a>
        </div>
        <div class="folder">
            <i class="fa fa-folder-open size text-primary"></i>
            <a href="#">Folder</a>
        </div>
        <div class="folder">
            <i class="fa fa-folder-open size text-primary"></i>
            <a href="#">Folder</a>
        </div>
        <div class="folder">
            <i class="fa fa-folder-open size text-primary"></i>
            <a href="#">Folder</a>
        </div>
        <div class="folder">
            <i class="fa fa-file size text-primary"></i>
            <a href="#">File</a>
        </div>
        <div class="folder">
            <i class="fa fa-file size text-primary"></i>
            <a href="#">File</a>
        </div>
        <div class="folder">
            <i class="fa fa-file size text-primary"></i>
            <a href="#">File</a>
        </div>
    </div>
</div>